<div class = "container-fluid buttons-row">

  <h5 style = "text-align: center;"> Hover on them </h5>

  <hr>

  <div class = "row">

    <div class = "col-md-4">

      <button
        type = "button"
        class = "btn btn-success"
        hoverOnMe 
        [hoverText] = "'Hovering on Success Button'">
        Success Button
      </button>

    </div>

    <div class = "col-md-4">

      <button
        type = "button"
        class = "btn btn-primary"
        hoverOnMe 
        [hoverText] = "'Hovering on Primary Button'">
        Primary Button
      </button>

    </div>

    <div class = "col-md-4">

      <button
        type = "button"
        class = "btn btn-secondary"
        hoverOnMe 
        [hoverText] = "'Hovering on Secondary Button'">
        Secondary Button
      </button>

    </div>

    <div class = "col-md-4">

      <button
        type = "button"
        class = "btn btn-danger"
        hoverOnMe 
        [hoverText] = "'Hovering on Danger Button'">
        Danger Button
      </button>

    </div>

    <div class = "col-md-4">

      <button
        type = "button"
        class = "btn btn-warning"
        hoverOnMe 
        [hoverText] = "'Hovering on Warning button'">
        Warning Button
      </button>

    </div>

    <div class = "col-md-4">

      <button
        type = "button"
        class = "btn btn-info"
        hoverOnMe 
        [hoverText] = "'Hovering on Info Button'">
        Info Button
      </button>

    </div>

  </div>

</div>




